<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style//alterfrontpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoginPage</title>
</head>
<body>
    <div class = "bgimg">
        <img src = "/images/bg1.jpg" style="opacity: 0.8" height = "550px" width="500px">
        <div class ="text">
            <form method = "POST" action = "/login/progress">
                    <h1>Login</h1>
                      <input type = "text" placeholder="ID" name ="ID" ><br><br>
                      <input type = "text" placeholder="PW" name ="PW" ><br><br>
                     <input type = "image" src = "/images/newnewsubmit.png" >
            </form>
            <form method = "GET" action = "/login/registeration">
                 <h3> have no account? <input type = "submit" value = "sign-up"></h3>
            </form>
            <div style="float: left;margin-right:10px">
            <form method = "GET" action = '/naver_oauth'>
                <input type = "image" src = "../images/naverlogo.png" height = "50" width = "200" >
            </form>
            </div>
            <div style="float: left">
            <form method = "GET" action = '/google_oauth'>
                <input type = "image" src = "../images/googlelogin.png" height = "50" width = "200">
            </form>
            </div>
            <form method = "GET" action = '/facebook_oauth'>
                <input type = "image" src = "../images/facebooklogin.png" height = "50" width = "200">
            </form>

                
                
        </div>
        
    </div>
</img>
</html>