<!DOCTYPE html>
<html lang="en">
<head>
        <style>
                body{
                    background-image: url("image1.jpg");
                }
                h1{
                    background-color: orange;
                }
            
                </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAIL</title>
</head>
<body>
    <h1> failed. please check your code</h1>
    <h1> ERROR content</h1>
    <br>
    <h3><%= error %></h3>
    <form method = "GET" action = "/">
        <input type = "image" src = "/images/home.png" height = "200" width = "300" name = "Submit" value = "Submit"></input>
    </form>
</body>
</html>